.slot-group {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.slot {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 2px;
  background-color: #3E3E3E;
  border-radius: 50%;
}

.row__check {
  border: solid 2px rgb(105, 163, 141);
  border-radius: 15px;
  text-transform: lowercase;
  color: rgb(105, 163, 141);
  font-size: 0.7em;
  background: none;
  cursor: pointer;
}

.row__check:disabled {
  border: solid 2px #3E3E3E;
  color: #3E3E3E;
}

.options-outer {
  text-align: center;
}

.options-inner {
  display: inline-block;
  margin: auto;
  text-align: center;
}

.options {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  margin: 10px 0;  
}

.option {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.color-1 {
  background-color: #205E35;
  box-shadow: 0 0 4px #205E35;
}

.color-2 {
  background-color: #1E4450;
  box-shadow: 0 0 4px #1E4450;
}

.color-3 {
  background-color: #81572C;
  box-shadow: 0 0 4px #81572C;
}

.color-4 {
  background-color: #81392C;
  box-shadow: 0 0 4px #81392C;
}

.color-5 {
  background-color: #79A688;
  box-shadow: 0 0 4px #79A688;
}

.color-6 {
  background-color: #69848D;
  box-shadow: 0 0 4px #69848D;
}

.color-7 {
  background-color: #E2C5A6;
  box-shadow: 0 0 4px #E2C5A6;
}

.color-8 {
  background-color: #E2AFA6;
  box-shadow: 0 0 4px #E2AFA6;
}

.clue-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3px;
  list-style: none;
  padding: 0;
}

.clue {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.clue--0 {
  background-color: #3E3E3E;
}

.clue--1 {
  background-color: #efefef;
}

.clue--2 {
  background-color: rgb(17, 17, 17);
}